@keyframes notificationAnim {
  0% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(-20%);
  }
  60% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(100%);
  }
}
/* The Modal (background) */
.notification-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
}
/* Modal Content/Box */
.notification-success {
    background-color: #96DF73;
    color: #1B5E20;
    margin: 20% right; 
    padding: 20px;
    width: 20%; 
    background: #CCFF90;
    padding: 15px;

    animation-name: notificationAnim;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.6s;
}
/* Modal Content/Box */
.notification-danger {
    background-color: #F44336;
    color: #FFF;
    margin: 20% right; 
    padding: 20px;
    width: 20%; 
    background: #F44336;
    padding: 15px;

    animation-name: notificationAnim;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1.6s;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}